.telemetry {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding-top: 200px;
    background-image: url(../../patterns/circle.svg);
    background-repeat: no-repeat;
    background-position: 100% 120%;
    
    .telemetry__items {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;    
        .telemetry__text {
            h4 {
                max-width: 445px;
                color: $darkNavy;
                font-family: Space Mono;
                font-size: 48px;
                font-style: normal;
                font-weight: 700;
                line-height: 48px;
                letter-spacing: -2.143px;
            }
            p {
                max-width: 445px;
                padding-top: 24px;
                color: $dimGrey;
                font-family: Lexend Deca;
                font-size: 15px;
                font-style: normal;
                font-weight: 400;
                line-height: 25px;
            }
            .btn {
                box-sizing:border-box;
                margin-top: 40px;
            }
        }
        .telemetry-img {
            .ava {
                display: none;
            }
        }
    }
}

.city {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding-top: 200px;
    background-image: url(../../patterns/left-circle.svg);
    background-repeat: no-repeat;
    background-position: 0% 95%;
    
    .city_items {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 1350px;    
        .city_text {
            h4 {
                max-width: 445px;
                color: $darkNavy;
                font-family: Space Mono;
                font-size: 48px;
                font-style: normal;
                font-weight: 700;
                line-height: 48px;
                letter-spacing: -2.143px;
            }
            p {
                max-width: 445px;
                padding-top: 24px;
                color: $dimGrey;
                font-family: Lexend Deca;
                font-size: 15px;
                font-style: normal;
                font-weight: 400;
                line-height: 25px;
            }
            .btn {
                box-sizing:border-box;
                margin-top: 40px;
            }
        }
        .telemetry__image {
            .ava {
                position: relative;
            }
            .icon {
                position: absolute;
            }
        }
    }
}

.payment {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: url(../../patterns/circle.svg);
    background-repeat: no-repeat;
    background-position: 100% 50%;
    .payment__items {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 1350px;    
        .payment__text {
            h4 {
                max-width: 445px;
                color: $darkNavy;
                font-family: Space Mono;
                font-size: 48px;
                font-style: normal;
                font-weight: 700;
                line-height: 48px;
                letter-spacing: -2.143px;
            }
            p {
                max-width: 445px;
                padding-top: 24px;
                color: $dimGrey;
                font-family: Lexend Deca;
                font-size: 15px;
                font-style: normal;
                font-weight: 400;
                line-height: 25px;
            }
            .btn {
                box-sizing:border-box;
                margin-top: 40px;
            }
        }
    }
}


@media only screen and (max-width: 1024px) {
    .telemetry {
        background-image: url(../../patterns/circle.svg);
        background-repeat: no-repeat;
        background-position: 100% 45%;

        .telemetry__items {
            display: flex;
            flex-direction: column-reverse;
            justify-content: space-between;
            align-items: center;
            width: 1350px;    
            
            .telemetry__text {
                display: flex;
                flex-direction: column;
                align-items: center;
                h4 {
                    padding-top: 56px;
                    color: $darkNavy;
                    text-align: center;
                    font-family: Space Mono;
                    font-size: 48px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 48px;
                    letter-spacing: -2.143px;
                }
                p {
                    max-width: 573px;
                    color: $dimGrey;
                    text-align: center;
                    font-family: Lexend Deca;
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 25px;
                }
                
            }
        }
    }
    
}

@media only screen and (max-width: 768px) {
    .telemetry {
        background-image: none;
        .telemetry__items {
            display: flex;
            flex-direction: column-reverse;
            justify-content: space-between;
            align-items: center;
            width: 1350px;    
            
            .telemetry__text {
                display: flex;
                flex-direction: column;
                align-items: center;
                h4 {
                    width: 311px;
                    color: $darkNavy;
                    text-align: center;
                    font-family: Space Mono;
                    font-size: 32px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 32px;
                    letter-spacing: -1.429px;
                }
                p {
                    width: 311px;
                    color: $dimGrey;
                    text-align: center;
                    font-family: Lexend Deca;
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 25px;
                }
                
            }
        }
    }
    
}

@media only screen and (max-width: 1024px) {
    .city {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin: 0 auto;
        padding-top: 200px;
        background-position: 0% 40%;
        
        .city_items {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            width: 1350px;    
            .city_text {
                display: flex;
                flex-direction: column;
                align-items: center;
                h4 {
                    padding-top: 56px;
                    color: $darkNavy;
                    text-align: center;
                    font-family: Space Mono;
                    font-size: 48px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 48px;
                    letter-spacing: -2.143px;
                }
                p {
                    max-width: 573px;
                    color: $dimGrey;
                    text-align: center;
                    font-family: Lexend Deca;
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 25px;
                }
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .city {
        background-image: none;
        .city_items {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            width: 1350px;    
            .city_text {
                display: flex;
                flex-direction: column;
                align-items: center;
                h4 {
                    width: 311px;
                    color: $darkNavy;
                    text-align: center;
                    font-family: Space Mono;
                    font-size: 32px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 32px;
                    letter-spacing: -1.429px;
                }
                p {
                    width: 311px;
                    color: $dimGrey;
                    text-align: center;
                    font-family: Lexend Deca;
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 25px;
                }
            }
        }
    }
}


@media only screen and (max-width: 1024px) {
    .payment {
        background-position: 100% 38%;
        .payment__items {
            display: flex;
            flex-direction: column-reverse;
            justify-content: space-between;
            align-items: center;
            width: 1350px;       
            .payment__text {
                display: flex;
                flex-direction: column;
                align-items: center;
                h4 {
                    padding-top: 56px;
                    color: $darkNavy;
                    text-align: center;
                    font-family: Space Mono;
                    font-size: 48px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 48px;
                    letter-spacing: -2.143px;
                }
                p {
                    max-width: 573px;
                    color: $dimGrey;
                    text-align: center;
                    font-family: Lexend Deca;
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 25px;
                }
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .payment {
        background-image: none;
        .payment__items {
            display: flex;
            flex-direction: column-reverse;
            justify-content: space-between;
            align-items: center;
            width: 1350px;    
            .payment__text {
                display: flex;
                flex-direction: column;
                align-items: center;
                h4 {
                    width: 311px;
                    color: $darkNavy;
                    text-align: center;
                    font-family: Space Mono;
                    font-size: 32px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 32px;
                    letter-spacing: -1.429px;
                }
                p {
                    width: 311px;
                    color: $dimGrey;
                    text-align: center;
                    font-family: Lexend Deca;
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 25px;
                }
            }
        }
    }
}
